<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :players, collection: Player.order(:name), prompt: "Who's Playing?" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
