<br>

  <%= render 'form', game: @game %>

<br>
<br>
<div class="center">
  <%= image_tag "https://1.bp.blogspot.com/-1a07LNVjg_M/WK17gWoMU4I/AAAAAAAAuwQ/KFXuaPvPwKwWj5YCm88veLzdVeLlosf4wCLcB/s1600/tumblr_n4wydyQrAq1qh8c35o1_r1_500.gif", class:"responsive-img" %>
</div>
