<h1>Players</h1>

<table class="bordered striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Record</th>
    </tr>
  </thead>

  <tbody>
    <% @players.order(name: :asc).each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= player.win_count %> - <%= player.loss_count %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
<div class="row">
  <div class="col s12 m6 l6">
  <%= link_to 'Create New Player', new_player_path, class:"btn" %>
  </div>
</div>
